$bg : #232E38;
$navColor:#f26f70;
// $navColor:#71DADD;

@mixin transition($duration){
  -webkit-transition:all $duration ease-in-out;
  -moz-transition:all $duration ease-in-out;
  -ms-transition:all $duration ease-in-out
}

.q0-9 { fill:rgb(247,251,255); }
.q1-9 { fill:rgb(222,235,247); }
.q2-9 { fill:rgb(198,219,239); }
.q3-9 { fill:rgb(158,202,225); }
.q4-9 { fill:rgb(107,174,214); }
.q5-9 { fill:rgb(66,146,198); }
.q6-9 { fill:rgb(33,113,181); }
.q7-9 { fill:rgb(8,81,156); }
.q8-9 { fill:rgb(8,48,107); }

.text-center{
	text-align:center;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
	background:#fff!important;
	color:$navColor!important;
}
.navbar{
	background:$navColor;
	border:none;
}
.navbar-default .navbar-brand{
	color:#FFF;
}
.navbar-header{
	color:#FFF;
	>a {
		color:#fff;
	}
}
.navbar-nav{
	background:$navColor;
	border:none;
	>li >a{
		color:#fff!important;

		&:hover, &:active, &:focus{
			background:#fff!important;
			color:$navColor!important;
		}
	}
}
.navbar-default .navbar-toggle .icon-bar{
	background-color:#FFF;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #FFF;
}
.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar{
	background-color:$navColor;
} 
.heading{
	margin-top:60px;
}
.custom-select{
  /* wrapper style */
  position: relative;
  display:block;
  // max-width: 400px;
  // min-width: 180px;
  margin:0 auto;
  border: 1px solid $navColor;
  margin-bottom:10px;

  select{
    /* Select Reset */
    border:none;
    outline:none;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    margin:0;
    display:block;
    width: 100%;
    
    /* custom select appearance */  
    padding: 12px 55px 15px 15px;
    font-size: 14px;
  }
  
  /* the down arrow */
  &:after{
    position: absolute;
    right:0; top:0;
    width: 50px; height:100%;
    line-height: 38px;
    content: '\FFEC';
    text-align: center;
    z-index:-1;
    background: $navColor;
    color:#fff;
    font-size: 24px;
  }
}
.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: sans-serif;
  font-size: 11px;
}

.toolTip {
  position: absolute;
  text-align: left;
  margin: 5px;
  pointer-events: none;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.9);
  border-radius: 2px;
  width: auto;
  padding: 4px;
  color: white;
  opacity: 0; 
}

.selectedCircles{
  &:hover{
    cursor:pointer;
  }
}

a, a:visited, a:active , a:hover {
  color: #444;
  text-decoration: none;
}

.button{
  width:160px;
  text-align: center;
  // height:40px;
  // line-height: 40px;
  background:transparent;
  color:$navColor;
  border:1px solid $navColor;
  // border-radius:20px;
  cursor:pointer;
  padding: 12px 12px 10px 10px;
  font-size: 14px;
  @include transition(0.2s);
  &:hover, :active, :focus{
    outline: none;
    background:$navColor;
    color:white;
  }
}

.button.active {
  outline: none;
  background:$navColor;
  color:white;
}


#vis {
  // width: 940px;
  // height: 600px;
  text-align: center;
  clear: both;
  margin-bottom: 10px;
  svg{
    display:block;
    margin:0 auto;
  }
}

#toolbar {
  margin-top: 10px;
  text-align: center;
}

.year {
  font-size: 21px;
  fill: #aaa;
  cursor: default;
}

.tooltip {
  position: absolute;
  top: 100px;
  left: 100px;
  -moz-border-radius:5px;
  border-radius: 5px;
  border: 2px solid #000;
  background: #fff;
  opacity: .9;
  color: black;
  padding: 10px;
  width: 300px;
  font-size: 12px;
  z-index: 10;
}

.tooltip .title {
  font-size: 13px;
}

.tooltip  .name {
  font-weight:bold;
}

.footer {
  text-align: center;
}
